<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World </title>
    <script src="./vue.js"></script>
</head>
<body>

<div id="app">
    <input type="text" v-model="inputValue"/>
    <button v-on:click="handleBtnClick">提交</button>
    <ul>
        <todo-item v-bind:content="item"
                   v-for="item in list">
        </todo-item>
    </ul>

</div>


<script>
    //创建全局组件的方法
    // Vue.component("TodoItem", {
    //     props: ['content'], //接收从外部传入的content
    //     template: "<li>{{content}}</li>",
    // })



    // 局部组件
    var TodoItem = {
        props: ['content'],
        template: "<li>{{content}}</li>",
    }
    



    var app = new Vue({
        el: "#app",
        data: {
            list: [],
            inputValue: "",
        },
        methods: {
            handleBtnClick: function () {
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        },
        components: {
            TodoItem : TodoItem,
        },
    })

</script>


</body>
</html>